title {
    font-size: 40px;
    font-weight: 300;
    display: block;
}

#content {
    width: 80%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 30%;
    opacity: 0.85;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #F0F0F0;
    width: 33%;
    background-color: rgba(55, 58, 64, 0.85);
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

li:last-child {
    border-right: none;
    margin-right: -1px;
}

a {
    color: #F0F0F0;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

li:hover {
    background-color: rgba(55, 58, 64, 0.6);
}

a.active {
    background-color: rgba(255, 255, 255, 0.2);
}